@using Microsoft.Ajax.Utilities
<section id="login">
    @if (Request.IsAuthenticated)
    {
        <text>
        Pozdravljen, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
<a href="javascript:document.getElementById('logoutForm').submit()">Odjava</a>
        }
        </text>
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Registracija", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Prijava", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }

</section>
<nav>
    <ul id="menu">
        <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Domov", "Index", "Home")</li>
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Profesorji", "Profesorji", "Home")</li>
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Instruktor"))
            {
            <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Urnik", "Index", "Urnik")</li>
            <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Predmetnik", "Predmeti", "Storitve")</li>
            <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Dogodki", "Dogodek", "Storitve")</li>
            }
            else if (User.IsInRole("Ucenec"))
            {
            <li><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Inštrukcije", "Index", "Najemi")</li>
            <li><span class="badge" style="display: none"></span><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Košarica", "Kosarica", "Najemi")</li>
            <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Dogodki", "Dogodek", "Najemi")</li>
            }
        }
    </ul>
</nav>


@if (User.IsInRole("Ucenec"))
{
    <script>
        $.ajax({
            type: 'GET',
            url: "../../../Najemi/CartStatus",
            dataType: "text",
            success: function (data) {
                if (data > 0) {
                    $('.badge').text(data);
                    $('.badge').show();
                    $('.glyphicon.glyphicon-shopping-cart').css('display', 'none');
                } else {
                    $('.badge').text('');
                    $('.badge').css('display', 'none');
                    $('.glyphicon.glyphicon-shopping-cart').show();
                }
            }
        });

    </script>
}

<script>
    $(document).ready(function () {

        function isValidEmail(emailAddress) {
            var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        };


        $('#send').click(function () {
            var sender = $('#recipient-name').val();
            var message = $('#message-text').val();
            if (sender.length == 0 || message.length == 0 || !isValidEmail(sender)) {
                return;
            }
            var keys = { sender: sender, message: message };
            $.ajax({
                type: 'POST',
                data: keys,
                url: "../Home/SendMail",
                dataType: "text"
            });

            //reset text
            $('#recipient-name').val('');
            $('#message-text').val('');

            $('#close').click();
        });
    });

</script>
