<link href="~/Scripts/components/bootstrap2/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Scripts/components/bootstrap2/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/calendar.css" rel="stylesheet" />
<style type="text/css">
    .btn-twitter {
        padding-left: 30px;
        background: rgba(0, 0, 0, 0) url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) -20px 6px no-repeat;
        background-position: -20px 11px !important;
    }

        .btn-twitter:hover {
            background-position: -20px -18px !important;
        }

    p {
        line-height: 1.4em;
        margin: 0;
    }
    .page-header {
        margin-bottom: 0;
    }
</style>
<body>
    <div class="span12 alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Klikni na željen dan in poklikaj ure za katere si dosegljiv
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><small>x</small></span>
        </button>

    </div>
    <div class="container">
        <div class="page-header">
            <h3></h3>
        </div>

        <div class="row">
            <div class="span7 form-inline">
                <div class="btn-group">
                    <button class="btn btn-primary" data-calendar-nav="prev"><< Prejšnji</button>
                    <button class="btn" data-calendar-nav="today">Danes</button>
                    <button class="btn btn-primary" data-calendar-nav="next">Naslednji >></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning" data-calendar-view="year">Leto</button>
                    <button class="btn btn-warning active" data-calendar-view="month">Mesec</button>
                    <button class="btn btn-warning" data-calendar-view="week">Teden</button>
                    <button class="btn btn-warning" data-calendar-view="day">Dan</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div id="calendar"></div>
            </div>
        </div>

        <script src="~/Scripts/components/underscore/underscore-min.js"></script>
        <script src="~/Scripts/components/jstimezonedetect/jstz.min.js"></script>

        <script src="~/Scripts/js/language/sl-SL.js"></script>
        <script src="~/Scripts/js/calendar.js"></script>
        <script src="~/Scripts/js/app.js"></script>



    </div>
</body>
