@{
    ViewBag.Title = "Domov";
}
<h3>Pozdravljeni na spletni strani za pomoč pri inštrukcijah!</h3>
<ol class="round">
    <li class="one">
        <h5>Učenec</h5>
        Ta stran vam kot učencu, ki si želi pomoč pri učenju olajša iskanje primernega inštruktorja.
        Preko te strani se lahko z izbranim inštruktorjem dogovorite o načinu in času izvajanja inštrukcij.
        Inštrukcije lahko opravite kar preko interneta preko te strani. Poleg tega pa vam platforma omogoča
        lažjo komunikacijo z inštruktorji in delitvijo učnih virov.
    </li>

    <li class="two">
        <h5>Inštruktor</h5>
        Inštruktorjem platforma omogoča nudenje storitve poučevanja. Omogoča vam lažji pregled nad naročenimi inštrukcijami, lažje dogovarjanje z novimi in že obstoječimi strankami. Poleg tega vam omogoča, da si ustvarite svojo bazo nalog, ki jih boste dodeljevali svojim učencem.

    </li>

</ol>


<article>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2768.9538028350294!2d14.468988599999998!3d46.05201970000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47652d52dfb93cd7%3A0xbfcd354b74411729!2sVe%C4%8Dna+pot+113%2C+1000+Ljubljana!5e0!3m2!1ssl!2ssi!4v1418591527046" width="600" height="450" frameborder="0" style="border: 0"></iframe>
</article>

<aside>
    <h3>Kontaktne informacije</h3>
    <ul>
        <li>info@instrukcije.com</li>
        <li>pomoc@instrukcije.com</li>
    </ul>
</aside>
