@{
    ViewBag.Title = "Domov";
}
<h3>Pozdravljeni na spletni strani za pomoč pri inštrukcijah!</h3>
<ol class="round">
    <li class="one">
        <h5>Učenec</h5>
        Ta stran vam kot učencu, ki si želi pomoč pri učenju olajša iskanje primernega inštruktorja.
        Preko te strani se lahko z izbranim inštruktorjem dogovorite o načinu in času izvajanja inštrukcij.
        Inštrukcije lahko opravite kar preko interneta preko te strani. Poleg tega pa vam platforma omogoča
        lažjo komunikacijo z inštruktorji in delitvijo učnih virov.
    </li>

    <li class="two">
        <h5>Inštruktor</h5>
            Inštruktorjem platforma omogoča nudenje storitve poučevanja. Omogoča vam lažji pregled nad naročenimi inštrukcijami, lažje dogovarjanje z novimi in že obstoječimi strankami. Poleg tega vam omogoča, da si ustvarite svojo bazo nalog, ki jih boste dodeljevali svojim učencem.

    </li>

</ol>
